<div class="container">
  <label class="capture-image-button" *ngIf="!capturedImage">
    <input
      type="file"
      accept="image/*"
      capture="environment"
      (change)="captureImage($event)"
    />
    <span><i class="fas fa-camera"></i> Capture Image</span>
  </label>
  <div *ngIf="capturedImage">
    <h3>
      Try Annotations
      <button mat-button color="warn" (click)="exitCaptureMode()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </h3>
  </div>
  <div class="controls" *ngIf="!capturedImage">
    <p>Please capture an image first.</p>
  </div>
  <div class="image-container">
    <canvas #imageCanvas></canvas>
  </div>
  <span *ngIf="capturedImage">Edit Image</span>
  <div class="controls" *ngIf="capturedImage">
    <button mat-raised-button color="primary" (click)="addShape('polygon')">
      <i class="fas fa-plus"></i> Triangle
    </button>
    <button mat-raised-button color="primary" (click)="addShape('rectangle')">
      <i class="fas fa-plus"></i> Rectangle
    </button>
    <button
      *ngIf="!isDrawing"
      mat-raised-button
      color="primary"
      (click)="toggleDrawingMode()"
    >
      <i class="fas fa-pencil-alt"></i> Draw Line
    </button>
    <button
      *ngIf="isDrawing"
      mat-raised-button
      color="primary"
      (click)="toggleDrawingMode()"
    >
      <i class="fa-solid fa-circle-stop"></i> Stop Drawing
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="undo()"
      [disabled]="this.historyIndex <= 0"
    >
      <i class="fa-solid fa-rotate-left"></i>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="redo()"
      [disabled]="this.historyIndex >= this.history.length - 1"
    >
      <i class="fa-solid fa-rotate-right"></i>
    </button>
  </div>
  <span *ngIf="capturedImage">Export</span>
  <div class="controls" *ngIf="capturedImage">
    <button mat-raised-button color="accent" (click)="exportAnnotations()">
      <i class="fa-solid fa-download"></i> Annotations
    </button>
    <button mat-raised-button color="warn" (click)="exportImage('png')">
      <i class="fa-solid fa-download"></i> Image (PNG)
    </button>
    <button mat-raised-button color="warn" (click)="exportImage('jpg')">
      <i class="fa-solid fa-download"></i> Image (JPG)
    </button>
  </div>
</div>
